@model SubjectBindingModel

@{
    ViewData["Title"] = "Create subject";

    string h1Text = "Create subject";
}

<partial name="_CreateUpdateHeader" model="h1Text" />

<hr />
<div class="w-50 mx-auto">
    <form method="POST" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input autofocus asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary w-100" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
