@model SubjectViewModel

@{
    ViewData["Title"] = Model.Name;

    string h1Text = $"Details for \"{Model.Name}\" subject";
    DetailsHeaderModel detailsHeaderModel = new DetailsHeaderModel()
    {
        H1Text = h1Text,
        ObjectId = Model.Id,
    };
}

<partial name="_DetailsHeader" model="detailsHeaderModel" />

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

<partial name="_DeleteModal" model="Model" />
